Applications/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
Public/
Templates/
Videos/
.bundle/
.cache/
.cargo/
.config/akonadi/
.config/astromenace/
.config/autostart/
.config/chromium/
.config/Code/
.config/Code - OSS/
.config/code-oss-dev/
.config/dconf/
.config/evolution/
.config/fontconfig/
.config/gcompris/
.config/gh/
.config/gnome-builder/
.config/gnome-session/
.config/goa-1.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/JetBrains/
.config/KDE/
.config/kde.org/
.config/kdeconnect/
.config/kdedefaults/
.config/khtml/
.config/libaccounts-glib/
.config/mpv/
.config/nautilus/
.config/nextjs-nodejs/
.config/nvim/
.config/plasma-workspace/
.config/pulse/
.config/rustfmt/
.config/session/
.config/transmission-daemon/
.config/waybar/
.config/xsettingsd/
.config/.gsd-keyboard.settings-ported
.config/baloofilerc
.config/bluedevilglobalrc
.config/dleyna-renderer-service.conf
.config/dolphinrc
.config/drkonqirc
.config/GNOME-xdg-terminals.list
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kcminputrc
.config/kconf_updaterc
.config/kded5rc
.config/kded6rc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/krdpserverrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/ktuberlingrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kxkbrc
.config/mimeapps.list
.config/monitors.xml
.config/okularpartrc
.config/okularrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmaparc
.config/plasmashellrc
.config/PlasmaUserFeedback
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/QtProject.conf
.config/systemsettingsrc
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.dotnet/
.emacs.d/
.gk/
.gnupg/
.java/
.local/
.mozilla/
.nodenv/
.npm/
.pki/
.rbenv/
.rustup/
.ssh/
.vim/
.vscode/
.vscode-oss/
.vscode-oss-dev/
.zfunc/
.bash_history
.bash_logout
.bash_profile
.bashrc
.fonts.conf
.gtkrc-2.0
.histfile
.irb_history
.profile
.python_history
.sqlite_history
.zcompdump
.zshenv