.cache/
.cargo/
.config/Code/
.config/dconf/
.config/enchant/
.config/foot/
.config/GIMP/
.config/goa-1.0/
.config/gramps/
.config/gtk-3.0/
.config/gtk-4.0/
.config/kstars/
.config/nano/
.config/procps/
.config/pulse/
.config/transmission/
.emacs.d/
.gnupg/
.irssi/
.local/
.mozilla/
.pki/
.rustup/
.ssh/
.vscode/
Applications/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
Public/
Templates/
Videos/

.config/dleyna-renderer-service.conf
.config/kstarsrc
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.histfile
.zcompdump
